USE [master]
GO
/****** Object:  Database [StagesDB]    Script Date: 09/11/2016 11:04:50 ******/
CREATE DATABASE [StagesDB] ON  PRIMARY 
( NAME = N'StagesDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\StagesDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StagesDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\StagesDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StagesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StagesDB]
GO
/****** Object:  Table [dbo].[Entreprise]    Script Date: 09/11/2016 11:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entreprise](
	[id] [int] NOT NULL,
	[nomEntreprise] [varchar](50) NULL,
	[telephone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_Entreprise] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Etudiant]    Script Date: 09/11/2016 11:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Etudiant](
	[cin] [varchar](50) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[date_naissance] [date] NULL,
	[adresse] [varchar](50) NULL,
	[ville] [varchar](50) NULL,
	[code_postal] [int] NULL,
	[telephone] [varchar](50) NULL,
	[groupe] [varchar](50) NULL,
	[filiére] [varchar](50) NULL,
	[departement] [varchar](50) NULL,
	[email] [varchar](50) NULL,
 CONSTRAINT [PK_Etudiant] PRIMARY KEY CLUSTERED 
(
	[cin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
